* {
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    box-sizing: border-box;
}

h1 {
    background-image: url("covid.jpg");
    background-size: 100%;
    color: rgb(255,255,255);
    padding: 20px 20px;
    padding-left: 10px;
    margin-bottom: 50px;
    font-size: 2rem;
}

form {
    margin: 6rem 0;
}


input[type="text"], select, input[type="submit"], textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    margin: 5px 0 10px 0;
}

input[type="text"]:hover, select:hover {
    border: 1px solid #f88;
}

label[for=uwagiid] {
    margin-top: 10px;
    display: block;
}

input[type="submit"]:hover {
    background-color: #f88;
}

p, ol, li, label, table, tr, td, th, caption, legend {
    font-size: 0.8rem;
}

legend {
    padding-left: 0;
    padding-right: 0;
}

legend + label {
    padding-left: 10px;
}

caption {
    font-size: 1.2rem;
  }

html {
    font-size: 16px;
}

table {
    border: 1px solid #aaa;
    width: 100%;
    border-collapse: collapse;
}

td, th, caption {
    padding: 0.5rem;
}

th, td {
    text-align: left;
}

th {
    background-color: #ccc;
}

fieldset {
    border: 1px solid #ddd;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
}

div > fieldset {
    margin-top: 10px;
}